/* .f1, .f2, h1, h2 { */
/*   font-weight: 500; */
/* } */
/* .f3, .f4, .f5, .f6, h3, h4, h5, h6 { */
/*   font-weight: 400; */
/* } */
.bg-light {
  background-color: #f8f9fa!important;
}
.logo {
  height: 36px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.67);
}

.active > .nav-link {
  color: rgba(0,0,0,.9);
  font-weight: 500;
}

.navbar-brand {
  font-weight: 500;
}

